*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.canvas {
    background-image: url('https://pbs.twimg.com/media/CqFOl4cWgAA6xWy.jpg');
    background-repeat: none;
}

/* .canvas {
    margin: 2rem auto;
    height: 800px;
    width: 800px;
} */