*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.canvas {
    background-image: url('https://www.thoughtco.com/thmb/HBaobb2gkXAlGq-a6K56PeyaLOg=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/clouds-5b6b4e50c9e77c0050491212.jpg');
    background-repeat: none;
}

/* .canvas {
    margin: 2rem auto;
    height: 800px;
    width: 800px;
} */